<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXFaN5LHgg2MJ6rDB4LF7E5JSXZRezKto</string>
	<key>GCM_SENDER_ID</key>
	<string>433300673330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStripeApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-stripe-application</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-stripe-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433300673330:ios:edf9991792769c95e97d2b</string>
</dict>
</plist>